* {
  text-decoration: none;
  color: inherit;
  list-style-type: none;
}
body {
  background-color: #22223b;
  font-family: "Lato", sans-serif;
}

h1,
h2 {
  color: #c9ada7;
  text-transform: uppercase;
  text-align: center;
}

p {
  color: #f2e9e4;
  text-align: center;
}
